.App {
  max-width: 500px;
  padding: 10px;
  height: 100vh;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App p,
.App button {
  font-size: 18px;
  width: 100%;
  padding: 10px 0;
}

.App button {
  color: white;
  background-color: teal;
}
